@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto+Mono:wght@400;500&display=swap');

:root {
    /* Fonts */
    --site-font: "Roboto Mono", Courier, monospace;
    --site-font-cursive: 'Nanum Pen Script', cursive;

    /* Font Colours */
    --txt-dark: hsl(250, 18%, 19%);

    /* Background Colours */
    --site-bg: hsl(120, 73%, 75%);
    --card-bg: hsl(46, 100%, 72%);
    --navbar-bg: hsl(46, 100%, 82%);
    --project-card-bg: var(--navbar-bg);
    --social-icon-bg: hsl(0, 0%, 0%);

    /* Accents */
    --btn-project: hsl(43, 100%, 50%);
    --btn-project-hover: hsl(43, 100%, 45%);
    --btn-contact: var(--site-bg);
    --btn-contact-hover: hsl(120, 73%, 65%);
    --stack-highlight: hsla(120, 73%, 75%, 0.650);

    /* Margins */
    --v-margin: 2rem;
    --padding: 1rem;

    /* Borders */
    --border: 3px solid hsl(0, 0%, 0%);
    --border-radius: 5px;

    /* Shadows */
    --box-shadows: -2px 3px 6px hsl(0, 0%, 25%);
    --box-shadows-cards: -4px 4px 4px hsl(0, 0%, 25%)
}

body {
    background-color: var(--site-bg);
    font-family: var(--site-font);
}

/* Typography */
a {
    color: var(--txt-dark);
}

span {
    color: var(--txt-dark);
}

.tech__txt-cursive {
    font-family: var(--site-font-cursive);
    font-size: 1.75rem;
}

.project__tech__txt-cursive {
    font-family: var(--site-font-cursive);
    font-size: 1.4rem;
}

/* Utilities */
.set-grid {
    display: grid;
}

.set-flex {
    display: flex;
}

.set-col {
    flex-direction: column;
}

.set-row {
    flex-direction: row;
}

.center-v {
    justify-content: center;
}

.center-h {
    align-items: center;
}

.container {
    width: min(95%, 144rem);
    margin-inline: auto;
}

.highlight {
    position: relative;
    z-index: 1000;
}

.highlight::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50px;
    height: 7px;
    transform: skew(-25deg);
    background: var(--stack-highlight);
    z-index: -1;
}

.highlight--ruby::after {
    width: 30px;
}

.highlight--psql::after {
    width: 70px;
}

.highlight--ror::after {
    width: 95px;
}

.highlight--tc::after {
    width: 138px;
}

.highlight--ls::after {
    width: 85px;
}

.highlight--bs::after {
    width: 65px;
}

/* Smooth Scroll */

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

/* Animations - Cards */

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    z-index: 1;
}

.hidden__card {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-25%);
    -webkit-transition: all 1.5s .2s;
    transition: all 1.5s .2s;
}

.show__card {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    z-index: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        -webkit-transition: none;
        transition: none;
    }
}

/* Animations - Arrow */

.arrow__container {
    position: relative;
}

.scroll-down-link {
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 40px;
    left: calc(50% - (40px / 2));
    bottom: -50px;
    color: hsl(0, 0%, 0%, 0.500);
    font-size: 50px;
    text-decoration: none;
    animation: fade_move_down 1.6s ease-in-out infinite;
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

/* Navbar */
.header {
    background-color: var(--navbar-bg);
    border-bottom: var(--border);
    padding: 1rem;
    margin-inline: auto;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar {
    justify-content: space-between;
}

.brand {
    font-size: 2rem;
    font-weight: 500;
}

.nav__menu {
    display: flex;
    gap: 3rem;
}

.nav__item {
    font-size: 3rem;
    text-decoration: none;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    position: relative;
}

.nav__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--social-icon-bg);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav__item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--site-bg);
    opacity: .9;
    width: 50px;
    border: var(--border);
    border-radius: var(--border-radius);
    z-index: 999;
}

.hamburger__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: hsl(0, 0%, 0%);
}

@media(max-width:768px) {
    .hamburger {
        display: block;
        z-index: 1000;
    }

    .hamburger.active .hamburger__bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .hamburger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .hamburger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav__menu {
        position: fixed;
        right: -100%;
        bottom: -100%;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        background-color: var(--card-bg);
        border-top: var(--border);
        border-left: var(--border);
        border-radius: var(--border-radius) 0 0 0;
        width: 65%;
        height: 75%;
        -webkit-transition: 0.7s;
        transition: 0.7s;
    }

    .nav__link {
        margin: var(--v-margin) 0;
    }

    .nav__menu.active {
        right: 0;
        bottom: 0;
    }
}

/* Cards */

.project__card {
    box-shadow: var(--box-shadows-cards);
    border-radius: var(--border-radius);
    overflow: hidden;
    width: min(400px, 95%);
}

.project__card__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    max-width: 100%;
    height: 250px;
}

.project__card__image--aoy {
    background-image: url(../assets/images/AllofYou.jpg);
}

.project__card__image--ebc {
    background-image: url(../assets/images/EveryBiteCounts.jpg);
}

.project__card__image--rqg {
    background-image: url(../assets/images/RandomQuoteGen.jpg);
    background-position: center;
}

.project__card__content {
    background-color: var(--project-card-bg);
    padding: var(--padding);
    gap: 1rem;
}

.project__card__heading {
    font-size: 1.8rem;
}

.project__card__txt {
    font-size: 1.2rem;
}

.project__card__btn_container {
    justify-content: space-around;
}

.project__btn {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 30px;
    cursor: pointer;
    background-color: var(--btn-project);
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadows);
    -webkit-transition: all .7s;
    transition: all .5s;
}

.project__btn:hover,
.project__btn:focus {
    background-color: var(--btn-project-hover);
    box-shadow: none;
}

/* Hero Section */
.hero {
    padding: var(--padding);
    min-height: calc(100vh - var(--scroll-padding));
}

.hero__text {
    gap: 2rem;
}

#typewriter__text {
    font-size: 4rem;
    font-weight: 800;
}

.hero__title {
    font-size: 1.8rem;
    font-weight: 500;
}

.hero__blurb {
    font-size: 1.4rem;
    position: relative;
    margin-top: 1rem;
    max-width: 500px;
}

/* Hero Typewriter Effect */

.blinker {
    animation: blinker 1s linear infinite;
    position: absolute;
    z-index: -1;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Sections */
.section__container {
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadows);
    background-color: var(--card-bg);
    margin-top: var(--v-margin);
    margin-bottom: var(--v-margin);
}

.section__container__header {
    background-color: var(--navbar-bg);
    padding: var(--padding);
    border-bottom: var(--border);
    min-width: 100%;
}

/* Tech Stack Section */

.tech__container {
    padding: var(--padding);
    gap: 2rem;
    flex-wrap: wrap;
}

.tech__icons {
    gap: 1rem;
}

.tech__icon {
    width: 25px;
    height: 25px;
}

.tech__title>span {
    font-size: 12px;
    font-weight: 500;
}

/* Portfolio Section */

.card__container {
    gap: 4rem;
    margin: var(--v-margin) 0;
    flex-wrap: wrap;
}

.projects__container {
    margin: var(--v-margin) 0;
    padding: var(--padding);
    gap: 2rem;
    flex-wrap: wrap;
}

.projects__title>span {
    font-size: 12px;
    font-weight: 500;
}

.project__card__tech__icon {
    width: 20px;
    height: 20px;
}

/* Contact Section */

.contact__container {
    margin: var(--v-margin);
    width: min(900px, 95%);
}

.form-wrap {
    font-family: var(--site-font);
    background: var(--navbar-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadows-cards);
    padding: var(--padding);
    width: 100%;
}

.form-wrap h1,
.form-wrap p {
    text-align: center;
}

.form-group {
    width: 100%;
}

.form-wrap .form-group {
    margin-top: 15px;
}

.form-wrap .form-group label {
    display: block;
    color: hsl(0, 0%, 40%);
    font-family: var(--site-font);
    font-size: 1.4rem;
}

.no-outline:focus {
    outline: none;
}

.form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
    font-family: var(--site-font);
    font-size: 1.4rem;
    -webkit-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

.form-wrap .form-group input:focus {
    box-shadow: var(--box-shadows);
}

.form-wrap .form-group textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
    font-family: var(--site-font);
    font-size: 1.4rem;
    resize: none;
    -webkit-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

.form-wrap .form-group textarea:focus {
    box-shadow: var(--box-shadows);
}

.form-wrap button {
    font-family: var(--site-font);
    font-weight: 500;
    display: block;
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadows);
    width: min(300px, 100%);
    padding: 10px;
    margin-top: 20px;
    background: var(--btn-contact);
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.form-wrap button:hover {
    background: var(--btn-contact-hover);
    box-shadow: none;
}

.form-wrap .btn {
    font-size: 13px;
}

/* Footer Section */
.footer {
    background-color: var(--navbar-bg);
    border-top: var(--border);
    padding: 1.2rem 0;
    margin-inline: auto;
}

.footer>.container {
    gap: 2rem;
}

.fa-brands {
    font-size: 1.4rem;
    color: var(--social-icon-bg);
    background-color: var(--btn-contact-hover);
    border-radius: 50%;
    padding: .5rem;
    -webkit-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

.fa-brands:hover {
    color: var(--btn-contact-hover);
    background-color: var(--social-icon-bg);
}

.footer>.container>h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* Responsiveness */

@media(min-width:768px) {

    /* Utilities */
    .highlight--ruby::after {
        width: 35px;
    }

    .highlight--psql::after {
        width: 92px;
    }

    .highlight--ror::after {
        width: 118px;
    }

    .highlight--tc::after {
        width: 172px;
    }

    .highlight--ls::after {
        width: 109px;
    }

    .highlight--bs::after {
        width: 82px;
    }

    /* Header & Navbar */
    .nav__item {
        font-size: 2rem;
    }

    /* Hero Section */

    #typewriter__text {
        font-size: 6rem;
    }

    .hero__title {
        font-size: 2rem;
    }

    /* Tech Stack Section */
    .tech {
        margin-top: calc(var(--v-margin) + 3rem);
        margin-bottom: calc(var(--v-margin) + 3rem);
    }

    .tech__header {
        font-size: 1.2rem;
    }

    .tech__icon {
        width: 50px;
        height: 50px;
    }

    /* Animations Arrow */

    .scroll-down-link {
        font-size: 60px;
    }

    /* Cards */

    .project__card__content {
        justify-content: space-between;
        /* gap: 2rem; */
    }

    .project__card__content>h2 {
        font-size: 2.4rem;
    }

    .project__card__content>p {
        font-size: 1.5rem;
    }

    .project__card__txt {
        height: 10rem;
    }

    .projects__container>.project__card>.project__card__content>.tech__container>.tech__icons>p {
        font-size: 1.6rem;
    }

    .project__card__tech__icon {
        width: 40px;
        height: 40px;
    }

    .project__card__btn_container {
        justify-content: space-around;
    }

    .project__btn {
        font-size: 1.8rem;
        padding: 6px 40px;
    }

    /* Contact Section */

    .contact__header {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .form-group {
        width: 100%;
    }

    .form-wrap button {
        max-width: 50%;
    }

    .form-wrap .btn {
        font-size: 1.8rem;
    }

    /* Footer Section */

    .footer>.container {
        gap: 3rem;
    }

    .fa-brands {
        font-size: 1.8rem;
    }

    .footer>.container>h2 {
        font-size: 1.4rem;
    }

}

@media(min-width:1024px) {

    /* Hero Section */

    #typewriter__text {
        font-size: 10rem;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__blurb {
        font-size: 1.5rem;
    }

    /* Animations Arrow */

    .scroll-down-link {
        bottom: -90px;
        font-size: 70px;
    }

}
