main {
	height: 100vh;
}

.header {
	position: fixed;
	width: 100%;
}

.thanks {
	height: 100vh;
}

.thanks__text {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}

.redirect__animation {
	position: relative;
}

.redirect__animation::after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	bottom: -10px;
	left: 0;
	background-color: hsl(0, 0%, 0%);
	animation-name: expand;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes expand {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

.footer {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	position: fixed;
	bottom: 0;
	width: 100%;
}

@media (min-width: 768px) {
	.thanks__text {
		font-size: 2.5rem;
	}
}
